.header_container{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
margin-top: 29px;
margin-bottom: 21px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.logoContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: center;
    align-items: center;
    a{
        display: contents;
    }
    .logo_img{
        width: 50px;
        height: 53px;
        margin-right: 12px;
    }
.logo_text{
    width: 133px;
font-size: 12px;
line-height: 120%;
text-transform: uppercase;
color: #828282;
text-align: start;
margin-right: 7px;
}
}
.navigation{
    .navigation__list{
        display: flex;
            
    }
    li{
        margin-right: 24px;
    }
    li:last-child{
        margin-right: 41px;
    }
    a{
        font-size: 13px;
line-height: 120%;
color: #121D46;
    }
    a:hover{
        font-weight: bold;
        color: #061546;
    }
}
.order_call{
    display: flex;
    align-items:center;
.order_call__tel{
    font-size: 13px;
    line-height: 18px;
    color: #121D46;
    margin-right: 15px;
}
.order_call__tel:hover{
    font-weight: bold;
    color: #061546;
}
.order_call__button{
    font-weight: bold;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #121D46;
padding: 9px 16px;
background-color: #FDD444;
margin-right: 50px;
}
.order_call__button:hover{
background-color: #d3a708;
}
}
.basket_product{

    display: flex;
    align-items: center;
.basket_product__img{
    width: 41px;
    height: 36px;
    margin-right: 15px;
}
span img{
    margin-right: 50px;
}
}
.authorization a{
display: flex;
align-items: center;
p{
    font-weight: bold;
font-size: 13px;
line-height: 18px;
text-align: center;
color: #121D46;
}
p:hover{
font-size: 15px;
    color: #061546;
}
.authorization{
    display: flex;
    align-self: center;
}
.authorization_img{
  width: 27px;
  height: 30px;  
  margin-right: 10px;
}


}